# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rust
mimrs/target/.rustc_info.json
mimrs/target/*

test-data
*gzip*
!mim-index/src/gzip_reader.rs
!mim-index/src/indexer.rs
!include/zran_index_helpers.hpp
!mim-index/src/indexer.rs
.vscode

data/*
/subprojects/
/perf.data*
/flamegraph*

target
